# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# Ignore all asset folders
/public/assets/*
# Except avatarStatic
!/public/assets/avatarStatic

# Ignore all dist folders
/dist/*

# Ignore all node_modules folders
/node_modules/*

# Ignore all .env files
.env*
